@model IEnumerable<HMS.Models.Drink>

@{
    ViewData["Title"] = "Index";
}

<h3>Enter Your Room No Then choose your drink favorite</h3>



<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div style="width:350px; background-color:#fcfcfc; padding:10px; margin-top:20px;">
                <img src="~/images/@Html.DisplayFor(modelItem => item.image)" class="img-thumbnail"
                     style="width:330px;height:250px;" /><br />
                @Html.DisplayFor(modelItem => item.DrinkName)<br />
                <strong> @Html.DisplayFor(modelItem => item.Price) $</strong><br /><br />
                <form asp-action="CreateDrinkOrder" asp-route-Id="@item.Id" method="post" enctype="multipart/form-data">
                    <div class="container">
                        <div class="row">
                            <div class="col-md form-group">
                                <input type="text" class="form-control" name="RoomNo" placeholder="Room No" />
                            </div>
                            <div class="col-md form-group">
                                <input type="submit" value="choose" class="btn btn-dark form-control" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    }
</div>



