@using Microsoft.AspNetCore.Identity
@inject SignInManager<AccountViewModel> SignInManager
@inject UserManager<AccountViewModel> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  href="#">
            Hello <strong> @User.Identity.Name</strong>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" asp-controller="AccountViewModels" asp-action="DisplayUserProfile"> Your Profile </a>
            @if (User.IsInRole("Customer"))
            {
                <a class="dropdown-item" asp-controller="Reservations" asp-action="returnReservationForCustomer">Your Rooms</a>
                <a class="dropdown-item" asp-controller="Services" asp-action="ReturnServicesForCustomers">Your Orders</a>
            }
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="AccountViewModels" asp-action="LogOut">LogOut</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="AccountViewModels" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="AccountViewModels" asp-action="Login">Login</a>
    </li>
}
</ul>
